[Desktop Entry]
Encoding=UTF-8
Name=WIKI
Comment=WIKI P2P Cryptocurrency
Comment[fr]=WIKI, monnaie virtuelle cryptographique pair à pair
Comment[tr]=WIKI, eşten eşe kriptografik sanal para birimi
Exec=wiki-qt %u
Terminal=false
Type=Application
Icon=wiki128
MimeType=x-scheme-handler/wiki;
Categories=Office;Finance;
